{% extends 'index.html' %}
{% load static %}
{% block loader %}
{% endblock %}
{% block menu %}
{% endblock menu %}
{% block search %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block content %}
<section class="comming-soon-grid">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 comming-soon">
                  <div class="theme-logo">
                     <a href="{% url 'index' %}"><img src="{% static 'images/easy.jpg' %}" alt=""></a>
                  </div>
                  <div class="count-down">
                     <div id="clock"></div>
                  </div>
                  <div>
                      <h2>Password Resent Completed</h2>
                      <p> You have successfully changed your password and may now login to your account.</p>
                      <p>
                        <a href="/accounts/login/" class="btn btn-green">
                            Go to Login
                        </a>
                      </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
{% block footer %}
{% endblock %}
