{% extends 'index.html' %}
{% load static %}
{% block loader %}
{% endblock %}
{% block menu %}
{% endblock menu %}
{% block search %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block content %}
<section class="comming-soon-grid">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 comming-soon">
                  <div class="theme-logo">
                     <a href="{% url 'index' %}"><img src="{% static 'images/easy.jpg' %}" alt=""></a>
                  </div>
                  <div class="count-down">
                     <div id="clock"></div>
                  </div>
                      <div class="container">
                          <div class="col-xs-8" style="position:relative; left:200px;">
                              <h2>Password Reset</h2>
                              <p><strong>Reset your password</strong> Insert the email address on your account to reset your password</p>
                              <p>
                                  This form will help you reset your forgotten by sending a link to your registered email address.
                                  Follow the link to a page where you can enter a new password for your account.
                              </p>
                              <form class="form-register" action="" method="post">
                                    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                    <div style="display: block;" class="errorHandler alert alert-danger no-display">
                                        <i class="fa fa-remove-sign"></i> {{form.non_field_errors }}
                                    </div>
                                    {% endif %}
                                    <fieldset>
                                        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                            <span class="input-icon">
                                                {{ form.email }}
                                                {% if form.email.errors %}
                                                {% for error in form.email.errors %}
                                                    <span class="help-block" id="firstname-error">{{ error|escape }}</span>
                                                {% endfor %}
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-green pull-left">
                                                Reset Password <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                            &nbsp;
                                            <a href="/accounts/login/" class="btn btn-light-grey">
                                                Or back home
                                            </a>
                                        </div>
                                    </fieldset>
                              </form>
                          </div>
                        </div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
{% block footer %}
{% endblock %}
