{% extends 'index.html' %}
{% load staticfiles %}
{% block loader %}
{% endblock %}
{% block menu %}
{% endblock menu %}
{% block search %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block content %}
<section class="comming-soon-grid">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 comming-soon">
                  <div class="theme-logo">
                     <a href="{% url 'index' %}"><img src="{% static 'images/easy.jpg' %}" alt=""></a>
                  </div>
                  <div class="count-down">
                     <div id="clock"></div>
                  </div>
                  <div>
                      <h2>Email Activation Link Sent</h2>
                      <p>An email has been sent to your email address please verify to login to your account </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
{% block footer %}
{% endblock %}
