{% extends 'index.html' %}
{% load static %}
{% block loader %}
{% endblock %}
{% block menu %}
{% endblock menu %}
{% block search %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block content %}
<section class="comming-soon-grid">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 comming-soon">
                  <div class="theme-logo">
                     <a href="index.html"><img src="images/logo.png" alt=""></a>
                  </div>
                  <div class="count-down">
                     <div id="clock"></div>
                  </div>
                  <div>
                      <h3>Confirm Delete</h3>
                     </p>
                     <form action="" method="post">
                         {% csrf_token%}
                            <p>Are your sure you want to delete <em><b>"{{ object.property_type }}"</b></em></p>
                            <input type="submit" value="Confirm" class="btn btn-success">
                            <a href="{{ object.get_absolute_url }}" class="btn btn-warning">Cancel</a>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}