{% extends 'index.html' %}
{% load static %}
{% block loader %}
{% endblock %}
{% block search %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block content %}
      <div class="small-breadcrumb">
         <div class="container">
            <div class=" breadcrumb-link">
               <ul>
                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li><a class="active" href="{% url 'common:profile' object.pk %}">Profile</a></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- Small Breadcrumb -->
      <!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
      <div class="main-content-area clearfix">
         <!-- =-=-=-=-=-=-= Latest Ads =-=-=-=-=-=-= -->
         <section class="section-padding gray">
            <!-- Main Container -->
            <div class="container">
               <!-- Row -->
               <div class="row">
                  <!-- Middle Content Area -->

                  <div class="col-md-12 col-xs-12 col-sm-12">
                    <section class="search-result-item">
                       <a class="image-link" href="#">
                          {% if object.photo %}
                          <img class="image" alt="img" src="{{ object.photo.url }}">
                            {% elif 'M' in user.profile.gender %}
                                <img src="{% static 'images/male-avatar.jpg' %}" alt="">
                            {% else %}
                                <img src="{% static 'images/female-avatar.png' %}" alt="" style="">
                            {% endif %}
                       </a>
                       <div class="search-result-item-body">
                          <div class="row">
                             <div class="col-md-4 col-sm-12 col-xs-12">

                                <h4 class="search-result-item-heading"><a href="#">{{ user.username }}</a></h4>
                                <p class="info">Member since: {{ user.date_joined|date:"D d M Y"  }}</p>
                                <p class="description">Last login: {{ user.last_login|date:"D d M Y"  }}</p>
                                <span class="label label-warning">Paid Package</span>
                                <span class="label label-success">Dealer</span>


                             </div>
                             <div class="col-md-8 col-sm-12 col-xs-12">
                              <div class="row ad-history">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="user-stats">
                                            <h2>{{ count }}</h2>
                                            <small>Total Listed</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="user-stats">
                                            <h2>{{ all_ads|length }}</h2>
                                            <small>My Ads</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="user-stats">
                                            <h2>413</h2>
                                            <small>Sold Properties</small>
                                        </div>
                                    </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </section>

                    <div class="dashboard-menu-container">
                        <ul>
                           <li class="active">
                              <a href="{% url 'common:profile' object.pk %}">
                                 <div class="menu-name"> Profile </div>
                              </a>
                           </li>

                           <li>
                              <a href="{% url 'agents:property_upload' object.pk %}">
                                 <div class="menu-name">Add Property</div>
                              </a>
                           </li>
                           <li>
                              <a href="{% url 'agents:user_properties' object.pk %}">
                                 <div class="menu-name">My Properties</div>
                              </a>
                           </li>
                            <li>
                              <a href="{% url 'agents:user_ads' object.pk %}">
                                 <div class="menu-name">My Ads</div>
                              </a>
                           </li>
                            <li>
                              <a href="{% url 'service:manage_service' user.profile.pk %}">
                                 <div class="menu-name"> Manage Service</div>
                              </a>
                           </li>
                           <li>
                              <a href="{% url 'payments:fund_account' user.profile.pk %}">
                                 <div class="menu-name">Finance
                                     {% for fundaccount in object.fundaccount_set.all %}
                                     {% if forloop.last %}
                                     <span class="badge">
                                         N{{ fundaccount.new_balance }}
                                     </span>

                                     {% endif %}
                                     {% endfor %}
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="/account/logout">
                                 <div class="menu-name">logout</div>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!-- Middle Content Area  End -->
               </div>
               <!-- Row End -->

               <br>

               <div class="row">
                  <!-- Middle Content Area -->

                  <div class="col-md-12 col-xs-12 col-sm-12">

                     <!-- Row -->
                     <div class="profile-section margin-bottom-20">
                        <div class="profile-tabs">
                           <ul class="nav nav-justified nav-tabs">
                              <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                              <li><a href="#edit" data-toggle="tab">Edit Profile</a></li>
                              <li><a href="#payment" data-toggle="tab">Make A Suggestion</a></li>
                              <li><a href="#settings" data-toggle="tab">Notification Settings</a></li>
                           </ul>
                           <div class="tab-content">
                              <div class="profile-edit tab-pane fade in active" id="profile">
                                 <h2 class="heading-md">Manage your Name, ID and Email Addresses.</h2>
                                 <p>Below are the name and email addresses on file for your account.</p>
                                 <dl class="dl-horizontal">
                                    <dt><strong>Your name </strong></dt>
                                    <dd>
                                       {{ user.username }}
                                    </dd>
                                    <dt><strong>Email Address </strong></dt>
                                    <dd>
                                       {{ user.email }}
                                    </dd>
                                    <dt><strong>Phone Number </strong></dt>
                                    <dd>
                                       {{ object.phone_number }}
                                    </dd>
                                    <dt><strong>Country </strong></dt>
                                    <dd>
                                       {{ object.country }}
                                    </dd>
                                    <dt><strong>State </strong></dt>
                                    <dd>
                                       {{ object.state }}
                                    </dd>
                                    <dt><strong>Address </strong></dt>
                                    <dd>
                                      {{ object.address }}
                                    </dd>
                                 </dl>
                              </div>
                              <div class="profile-edit tab-pane fade" id="edit">
                                 <h2 class="heading-md">Manage your Security Settings</h2>
                                 <p>Manage Your Account</p>
                                 <div class="clearfix"></div>
                                 <form>
                                    <div class="row">
                                       <div class="col-md-6 col-sm-6 col-xs-12">
                                          <label>Your Name </label>
                                          <input type="text" class="form-control margin-bottom-20">
                                       </div>
                                       <div class="col-md-6 col-sm-6 col-xs-12">
                                          <label>Email Address <span class="color-red">*</span></label>
                                          <input type="text" class="form-control margin-bottom-20">
                                       </div>
                                       <div class="col-md-12 col-sm-12 col-xs-12">
                                          <label>Contact Number <span class="color-red">*</span></label>
                                          <input type="text" class="form-control margin-bottom-20">
                                       </div>
                                       <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-20">
                                          <label>Country <span class="color-red">*</span></label>
                                          <select class="form-control">
                                             <option value="0">SriLanka</option>
                                             <option value="1">Australia</option>
                                             <option value="2">Bahrain</option>
                                             <option value="3">Canada</option>
                                             <option value="4">Denmark</option>
                                             <option value="5">Germany</option>
                                          </select>
                                       </div>
                                       <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-20">
                                          <label>City <span class="color-red">*</span></label>
                                          <select class="form-control">
                                             <option value="0">London</option>
                                             <option value="1">Edinburgh</option>
                                             <option value="2">Wales</option>
                                             <option value="3">Cardiff</option>
                                             <option value="4">Bradford</option>
                                             <option value="5">Cambridge</option>
                                          </select>
                                       </div>
                                       <div class="col-md-12 col-sm-12 col-xs-12">
                                          <label>Address <span class="color-red">*</span></label>
                                          <textarea class = "form-control margin-bottom-20" rows = "3"></textarea>
                                       </div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                       <div class="form-group">
                                          <div class="col-md-9">
                                             <div class="input-group">
                                                <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                Browse… <input type="file" id="imgInp">
                                                </span>
                                                </span>
                                                <input type="text" class="form-control" readonly>
                                             </div>
                                          </div>
                                          <div class="col-md-3">
                                             <img id="img-upload" class="img-responsive" src="images/users/2.jpg" alt="" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                       <div class="col-md-8 col-sm-8 col-xs-12">
                                          <div class="form-group">
                                             <div class="skin-minimal">
                                                <ul class="list">
                                                   <li>
                                                      <input  type="checkbox" id="minimal-checkbox-7">
                                                      <label for="minimal-checkbox-7">i agree <a href="#">Terms of Services</a></label>
                                                   </li>
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                                          <button type="submit" class="btn btn-theme btn-sm">Update My Info</button>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                              <div class="profile-edit tab-pane fade" id="payment">
                                 <h2 class="heading-md">Make A Suggestion</h2>
                                 <p>If you have any ideas for what you'd like to see in EasyEstate, we want to know. Fill out the feature form below, and we'll consider it when planning our roadmap. Thank you for taking the time to suggest this.</p>
                                 <br>
                                 <form action="/message/{{ user.profile.pk }}/suggestion/" id="sky-form" class="sky-form" method="post">
                                    <!--Checkout-Form-->
                                    {% csrf_token %}
                                    <div class="row">
                                       <div class="col-sm-12 col-md-12 margin-bottom-20">
                                          <label>Suggestion Category<span class="color-red">*</span></label>
                                          <select class="form-control" name="category" id="category">
                                             <option value="0">--Choose--</option>
                                             <option value="Dashboard">Dashboard</option>
                                             <option value="Fund's Page">Fund's Page</option>
                                             <option value="Properties Posting">Properties Posting</option>
                                              <option value="Properties Ad">Properties Ad</option>
                                              <option value="Service Profiling">Service Profiling</option>
                                              <option value="Service Type">Service Type</option>
                                              <option value="Transactions">Transactions</option>
                                              <option value="Subscription">Subscription</option>
                                              <option value="Others">Others</option>
                                          </select>
                                       </div>
                                        <div class="col-sm-12 col-md-12 margin-bottom-20">
                                          <label>Level of Importance<span class="color-red">*</span></label>
                                          <select class="form-control" name="level" id="level">
                                             <option value="0">--Choose --</option>
                                             <option value="Importance">Importance</option>
                                             <option value="Critical">Critical</option>
                                             <option value="Urgent">Urgent</option>
                                             <option value="Nice to have">Nice to have </option>
                                          </select>
                                       </div>
                                        <div class="col-sm-12 col-md-12 margin-bottom-20">
                                          <label>Your Suggestion<span class="color-red">*</span></label>
                                          <textarea class = "form-control margin-bottom-20" rows="6" name="suggestion" id="suggestion"></textarea>
                                       </div>
                                    </div>
                                    <button class="btn btn-sm btn-default" type="button">Cancel</button>
                                    <button type="submit" class="btn btn-sm btn-theme">Post Suggestion</button>
                                    <!--End Checkout-Form-->
                                 </form>
                              </div>
                              <div class="profile-edit tab-pane fade" id="settings">
                                 <h2 class="heading-md">Manage your Notifications.</h2>
                                 <p>Below are the notifications you may manage.</p>
                                 <br>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Row End -->
                  </div>
                  <!-- Middle Content Area  End -->
               </div>

            </div>
            <!-- Main Container End -->
         </section>
         <!-- =-=-=-=-=-=-= Ads Archives End =-=-=-=-=-=-= -->
         <!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
         <!-- =-=-=-=-=-=-= FOOTER END =-=-=-=-=-=-= -->
      </div>
{% endblock %}
